*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
*.log
*.nori
*.loc
.idea
apikey.properties
/dev
/prod
app/keystore_warehouse.jks